body{
  margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

:root{
  --principal : #001F3F;
  --compl-light: #525252 ;
  --compl-dark: #333333 ;
  --fresco: #00CED1;
  --neutro: #ECF0F1;
  --destaca: #FF6B35;
  --fondo: #F5F5F5;
}